<% @page_title= "Pages" %>
<h2>Pages</h2>

<div><%= pluralize(@pages.size, 'pages') %> found</div>
<p><%= link_to(image_tag('plus_sign.png', :size => '11x11', :alt=>'+') + "Add New Page", {:action => 'new'}, :class => 'action new') %></p>
<table class="listing" summary="pages list">
  <tr class="header">
    <th>ID</th>
    <th>Name</th>
    <th>Permalink</th>
    <th>Visible</th>
    <th>Position</th>
  </tr>
  <% @pages.each do |page| %>
      <tr class="<%= cycle('odd','even')%>">
        <td><%= page.id %></td>
        <td><%= page.name %></td>
        <td><%= page.subject.name if page.subject %></td>
        <td><%= page.permalink %></td>
        <td class="center"><%= status_tag(page.visible) %></td>
        <td class="center"><%= page.position %></td>
        <td class="actions">
          <%= link_to("Show", {:action => 'show', :id => page.id}, :class => 'action show') %>
          <%= link_to("Edit", {:action => 'edit', :id => page.id}, :class => 'action edit') %>
          <%= link_to("Delete", {:action => 'delete', :id => page.id}, :class => 'action delete') %>
        </td>
      </tr>
  <% end %>
  </tr>
</table>