<h2>Section</h2>
<%= link_to("Add New section", {:action => 'new'},:class => 'action new')%>
<table class="listing" summary="sections list">
<tr class="header">

<th>id</th>
<th>name</th>
<th>position</th>
<th>visible</th>
<th>contenttype</th>
<th>page_id</th>
</tr>
<%@sections.each do |section|%>
<tr>
<td><%=section.id%></td>

<td><%=section.name%></td>
<td><%=section.position%></td>
<td class="center"><%=section.visible ? 'Yes' : 'No' %></td>
<td class="center"><%=section.content_type %></td>
<td><%=section.page_id%></td>
<td class="actions">
	<%=link_to("Show", {:action => 'show', :id => section.page_id}, :class => 'action show')%>
	<%=link_to("Edit", {:action => 'edit', :id => section.page_id}, :class => 'action edit')%>
	<%=link_to("Delete",{:action => 'delete', :id => section.page_id},:class => 'action delete')%>
</td>
</tr>
<%end %>
</tr>
</table>